<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script defer type="text/javascript" src="/scripts/main.js"></script>
    <title>Inventory App</title>
</head>
<body>
    <div class="ui fixed menu">
        <div class="ui container">
            <a class="item" href="/"><i class="home icon"></i>Home</a>
            <a class="item" href="/factorystocks">Factory</a>
            <a class="item" href="#">Customers</a>
            <div class="right menu">
                <a class="ui item">Login</a>
                <a class="ui item">Register</a>
            </div>
        </div>
    </div>
